.rooms {
  background-color:#f3f3f3;
  padding:20px;
  height: 100vh;
  padding-bottom: 0px;
}

.messages {

}

.row.content {
  height: 100vh;

}

footer {
  background-color: #555;
  color: white;
  padding: 15px;
  position:fixed;
  bottom:0;
    }

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
